
* {
  box-sizing: border-box;
}

/**************
GENERAL
**************/

a {
  text-decoration: none;
}

h3, h4 {
  font-family: chewy;
  margin: 2em 0 2em 0;
  padding: 5%;
  font-size: 1.3em;
  text-align: center;
  background-color: #666;
  letter-spacing: 2px;
  text-shadow: 4px 3px 2px #444;
  box-shadow: inset -4px -4px 15px 5px #bbb;
}

body {
  background-color: lightblue;
}

p {
  margin: 0 1.2em 1.2em 1.2em;
  padding: 10px 0;
  letter-spacing: 1px;
  line-height: 1.5em;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  background: linear-gradient(#5e88b0, transparent 95%),
              linear-gradient(0deg, #e6b064, transparent);
  background-image: linear-gradient(circle, #a9bacb white);
}

#primary {
  border-bottom: thick double #555;
}

#secondary {
  border-bottom: thick double #555;
}



/**************
NAVIGATION
**************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/**************
HEADER
**************/

header {
  text-align: center;
  font-family: chewy, sans-serif;
  font-size: 0.9em;
  padding: 50px 0;
  letter-spacing: 0.9px;
  text-shadow: 2px 2px 1px #bbb;

}

.coverphoto {
  display: block;
  max-width: 200px;
  height: 200px;
  margin: 0 auto 60px;
  border-radius: 65px;
}

.index1 {
  background-image: url('../img/ocean.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 5px solid #a9bacb;
}



/**************
BODY
**************/

.abbs {
  line-height: 1.7em;
  list-style: none;
  float: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

.abbs li.HTML {
  color: red;
  text-shadow: 2px 2px 1px #666;
  font-weight: 800;
}

.abbs li.CSS {
  color: blue;
  text-shadow: 2px 2px 1px #666;
  font-weight: 800;
}

.abbs li.Javascript {
  color: red;
  text-shadow: 2px 2px 1px #666;
  font-weight: 800;
}

.abbs li.PHP {
  color: blue;
  text-shadow: 2px 2px 1px #666;
  font-weight: 800;
}



/**************
FOOTER
**************/

footer {
  font-size: .75em;
  text-align: center;
  clear: both;
  padding-top: 100px;
  color: #555;
  
  }
  
.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;  
  }



/**************
CONTACT
**************/

.contact-page {
  background: linear-gradient(#ddd, transparent 95%),
              linear-gradient(0deg, #5e88b0, transparent);
  background-image:linear-gradient(circle, #a9bacb white);
}

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 20px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  color: black;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.email a {
  background-image: url('../img/mail.png');
}

.contact-info li.linkedin a {
  background-image: url('../img/linkedin-logo.jpg');
}



/**************
PAGE: WORK EXPERIENCE
**************/

.work1 {
  background: linear-gradient(#5e88b0, transparent 95%),
              linear-gradient(0deg, #e6b064, transparent);
  background-image:linear-gradient(circle, #a9bacb white);
}

.WEphoto {
  height: 400px;
  width: 75%;
}



/**************
PAGE: HOBBIES
**************/

.hobbies {
  background: linear-gradient(#ddd, transparent 95%),
              linear-gradient(0deg, #5e88b0, transparent);
  background-image:linear-gradient(circle, #a9bacb white);
}

.surf {
  height: 400px;
  width: 75%;
}

.snook {
  max-width: 85%;
  height: 275px;
  margin: 10px 30px;
  padding: 0;
  box-shadow: 5px 5px 15px 5px #aaa;
}

.poker {
  max-width: 85%;
  height: 275px;
  margin: 10px 30px;
  padding: 0;
  box-shadow: 5px 5px 15px 5px #aaa;
}



/**************
COLOR
**************/

/* nav bar background color*/
nav {
  background: #000;
}

/* nav links*/
nav a, nav a:visited {
  color: #bbb;
}

/* selected nav link*/
nav a.selected, nav a:hover {
  color: white;
}

body {
  overflow: scroll;
}

  




